.hidemessage {
    display: none;
}

.showmessage {
    display: block;
    background-color: red; 
}
#login-page {
    width: 20em;
    margin: 0 auto;
}
#page {
    background-color: rgb(69, 92, 112);
    max-width: 75em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;

}
form input, form label {
    display: block;
}
form input {
    margin-bottom: 1em;
    padding: 0.5em;
}
.success{
    background-color: green;
    padding: 1em;
  }
  .fail{
    background-color: red;
    padding: 1em;
  }
  